@use "/home/ross/projects/bar/vars" as *;

.appwindow {
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 18px;
  min-height: 500px;
  min-width: 350px;
}

.applauncher {
  margin: 10px;
}

.appbutton {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}

.application {
  padding: 0 8px;
  min-width: 400px;
  min-height: 30px;
  border: 0;
}

.appname {
  color: $accent1;
  font-size: 18px;
}

scrollbar {
  opacity: 0;
  min-height: 0;
  min-width: 0;
}

scrollbar slider {
  min-height: 0;
  min-width: 0;
}
