@use "/home/ross/projects/bar/vars" as *;

.appwindow {
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 18px;
}

.applauncher {
  min-height: 500px;
  min-width: 400px;
  margin: 10px;
}

.appbutton {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}

.application {
  border-radius: 10px;
  padding: 0 8px;
  min-width: 400px;
  min-height: 50px;
  background-color: $accent2;
  border: 2px solid $accent3;
}

.appname {
  color: $accent1;
  font-size: 18px;
}
