@use "/home/ross/projects/bar/vars" as *;

.wifi {
  background: $accent1;
  color: $accent2;
  border: none;
  outline: none;
  min-height: 30px;
  min-width: 30px;
  border-bottom-right-radius: 15px;
  padding: 0 10px;
  font-weight: 500;
}

.signal {
  background: $accent1;
  color: $accent2;
  border: none;
  outline: none;
  min-height: 30px;
  min-width: 30px;
  border-radius: 50px 18px 18px 50px;
  padding: 0;
}
